.Button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid gray;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:gray;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 5px;
    background-color: #FFFFFF;
}

Button:hover{
    color:#000000;
    background-color:lightgray;
}
@media all and (max-width:30em){
    Button{
        display:block;
        margin:0.4em auto;
    }
}
